---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <meta name="google-site-verification" content="bam4mNxDN4Iq3-0J9tPYQU8Tad_NUJtJQGsPh4X46cI" />
    </head>
    <body>
        <Header />
        <main>
            <h1>James Fleming</h1>
            <p>Hi, my name is James and I'm an undergraduate studying computer science at UCSD hoping to someday work in academia. I am currently an undergraduate researcher at <a href="https://seelab.ucsd.edu/">SEELab</a> working on Hyperdimensional Computing and Efficient AI, <a href="https://lianhui.ucsd.edu/">QLab</a> working on Continuous State Reasoning and Language Diffusion Models, and <a href="https://sites.google.com/view/yianma/home">Yian Ma's Lab</a> working on Machine Learning Theory and Language Diffusion Models with Provable Guarantees. Also previous did some work at the <a href="https://zhengy09.github.io/soclab.html">SOC Lab</a> on Optimization Theory and the <a href="https://brdsdsu.github.io/">Computer Systems Intelligence Lab</a> at SDSU on Computer Vision. Feel free to reach out at <a href="jmfleming@ucsd.edu">jmfleming@ucsd.edu</a> if you'd like to chat!</p>
        </main>
        <Footer />
    </body>
</html>
