---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <meta name="google-site-verification" content="bam4mNxDN4Iq3-0J9tPYQU8Tad_NUJtJQGsPh4X46cI" />
    </head>
    <body>
        <Header />
        <main>
            <h1>hi, i'm james</h1>
            <p>i'm an undergraduate studying computer science hoping to someday work in academia. my blog contains explanations for things that i found helpful and my twitter has more ramblings.</p>
        </main>
        <Footer />
    </body>
</html>
